<nav class="navbar navbar-expand-md  navbar-light bg-dark">

    <a href="/" class="navbar-brand "><i class="fas fa-shipping-fast text-warning fa-2x"></i></a>
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse"
    data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse justify-content-between" id="nav">
    <ul class="navbar-nav">

      


      
        <!--drop down หมวดหมู่สินค้า -->
      <li class="nav-item dropdown "><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
        href="" data-toggle="dropdown">หมวดหมู่สินค้า</a>


        <div class="dropdown-menu ">    
          {% load mptt_tags %}  

          {% recursetree category_links %}
            <a class="dropdown-item " href="{{node.get_url}}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <a class="dropdown-item" href="{{node.get_url}}">{{ children }}</a>
              {% endif %}
            
          {% endrecursetree %}
        </div>
      </li>


      


      
      <!--drop down แบรนด์ -->
      <li class="nav-item dropdown "><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
        href="" data-toggle="dropdown">แบรนด์สินค้า</a>

        <div class="dropdown-menu ">

          {% for brand in brands_links %}
          
            <a class="dropdown-item" href="{{brand.get_url}}">{{brand.name}}</a>
          
          {% endfor %}

        </div>
      </li>






        <li class="nav-item dropdown">
          {% if request.user.is_authenticated and request.user.username %}
          <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">
            {{request.user.username}}<i class="fas fa-user circle"></i> 
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{%url 'orderHistory' %}">ประวัติการสั่งซื้อ</a>
          </div>
        </li>
        


        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signOut' %}">
            ออกจากระบบ <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signUp' %}">
            ลงทะเบียน <i class="fas fa-user-plus"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signIn' %}">
            เข้าสู่ระบบ <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>;
        {% endif %}

        
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cartDetail' %}">
          <i class="fas fa-shopping-cart"></i>
          {% if item_count > 0%}
            {{item_count}}
          {% else %}
            0
          {% endif %}
      </a>
    </li>
  


    </ul>
    <form class="form-inline ml-3" action="{% url 'search' %}", method="GET">
      <div class="input-group">
        <input type="text" name="title" value="{{ request.GET.title }}" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    </div>
  </nav>  