{% extends 'layouts.html' %}
{% load humanize %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class ="container ">

        {% if not orders %} 
        <div class="alert alert-danger my-2 " role="alert">
            <p align="center">
                <b> ไม่พบประวัติการสั่งซื้อสินค้า</b>
            </p>
        </div>
            
    
        {% else %}
        <h2 align="center ">ประวัติการสั่งซื้อ</h2>

        <div class="table-responsive my-3">
            <table class="table table-condensed ">
                <thead>
                    <tr class="cart_menu">
                        <td class="text-center">รหัสใบสั่งซื้อ</td>
                        <td class="text-center">วันที่สั่งซื้อ</td>
                        <td class="text-center">ยอดชำระเงิน</td>
                        <td class="text-center">สถานะ</td>
                        <td class="text-center"> </td>
                        <td class="text-center"> </td>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td class="text-center">
                            <p>#{{order.id}} </p>
                        </td>
                        <td class="text-center">
                            <p>{{order.created | date:"d M Y"}} </p>
                        </td>
                        <td class="text-center">
                            <p>{{order.total | intcomma}}</p>
                        </td>
                        <td class="text-center">
                            {% if order.status == 'จัดส่งสินค้าแล้ว' %}
                             <p class="text-success">{{order.status}}</p>
                            {% elif order.status == 'ไม่ผ่านการตรวจสอบ' %}
                             <p class="text-danger">{{order.status}}</p>
                             {% elif order.status == 'ชำระเงินแล้ว-รอตรวจสอบ' %}
                             <p class="text-warning">{{order.status}}</p>
                             {% elif order.status == 'กำลังจัดส่ง' %}
                             <p class="text-primary">{{order.status}}</p>
                             {% else %}
                             <p class="text-secondary" >{{order.status}}</p>
                            
                             {% endif %}

                        </td> 
                        <td class="text-center">
                            
                            {% if order.status == 'รอชำระเงิน'%}
                                <a class="btn btn-danger" href="{{order.get_url}}">ชำระเงิน</a>
                            {% endif %}                         
                            

                        </td>
                        <td class="text-center">

                            <a class="btn btn-primary" href="{%url 'orderDetail' order.id%}">รายละเอียด</a>

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        {% endif %}


       
            </table>
            
        
    

        <nav aria-label="pagination">
            {% if orders.paginator.num_pages > 1%}
            <ul class="pagination">
    
    
              {% if orders.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}
    
    
              {% for page_number in orders.paginator.page_range%}
              <li class="page-item 
              {% if products.number == page_number %}
                active
              {% endif %}
              "><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
              {% endfor %}
              
    
              {% if orders.has_next %}
              <li class="page-item ">
                <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}
    
    
            </ul>
            {% endif %}
          </nav>

        </div>




</div>


{% endblock %}